{:default
 {:actions {:assets [["assets/app.css" "test/resources/generated/resources/public/css/app.css"]]}
  :feature-requires [:extras]}

 :extras
 {:actions {:assets [["assets/styles.css" "test/resources/generated/resources/public/css/styles.css"]]}
  :feature-requires [:extras]}}
