{:paths   ["src/clj"
           "resources"]

 :deps    {org.clojure/clojure             {:mvn/version "1.10.3"}

           ;; Routing
           metosin/reitit                  {:mvn/version "0.5.13"}

           ;; Ring
           metosin/ring-http-response      {:mvn/version "0.9.2"}
           ring/ring-core                  {:mvn/version "1.9.3"}
           ring/ring-defaults              {:mvn/version "0.3.3"}

           ;; Date coercion
           luminus-transit/luminus-transit {:mvn/version "0.1.2"
                                            :exclusions [com.cognitect/transit-clj]}
           metosin/muuntaja                {:mvn/version "0.6.8"}

           ;; kit Libs
           kit-clj/kit-core {:mvn/version "<<versions.kit-core>>"}
           kit-clj/kit-undertow {:mvn/version "<<versions.kit-undertow>>"}
           <% if crux? %>kit-clj/kit-crux {:mvn/version "<<versions.kit-crux>>"}<% endif %>
           <% if sql? %>kit-clj/kit-sql {:mvn/version "<<versions.kit-sql>>"}
           kit-clj/kit-postgres{:mvn/version "<<versions.kit-postgres>>"}<% endif %>
           <% if hato? %>kit-clj/kit-hato {:mvn/version "<<versions.kit-hato>>"}<% endif %>
           <% if quartz? %>kit-clj/kit-quartz {:mvn/version "<<versions.kit-quartz>>"}<% endif %>
           <% if redis? %>kit-clj/kit-redis {:mvn/version "<<versions.kit-redis>>"}<% endif %>
           <% if selmer? %>kit-clj/kit-selmer {:mvn/version "<<versions.kit-selmer>>"}<% endif %>
           <% if metrics? %>kit-clj/kit-metrics {:mvn/version "<<versions.kit-metrics>>"}<% endif %>
           <% if repl? %>kit-clj/kit-repl {:mvn/version "<<versions.kit-repl>>"}<% endif %>
           }
 :aliases {:uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.267"}}
                     :exec-fn      hf.depstar/uberjar
                     :exec-args    {:aot        true
                                    :jar        "<<name>>.jar"
                                    :main-class <<name>>.core
                                    :target-dir "target/uberjar"}
                     :extra-paths ["env/prod/clj" "env/prod/resources"]}

           :build {:deps {io.github.clojure/tools.build {:git/sha "7ef409b"
                                                         :git/tag "v0.6.2" :git/url "https://github.com/clojure/tools.build.git"}
                          slipset/deps-deploy {:mvn/version "0.1.5"}
                          weavejester/dependency {:mvn/version "0.2.1"}}
                   :ns-default build}


           :dev  {:extra-deps  {criterium/criterium         {:mvn/version "0.4.6"}
                                expound/expound             {:mvn/version "0.8.9"}
                                integrant/repl              {:mvn/version "0.3.2"}
                                pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                ring/ring-devel             {:mvn/version "1.9.3"}
                                ring/ring-mock              {:mvn/version "0.4.0"}
                                kit-clj/kit-generator     {:mvn/version "0.1.0"}}
                  :extra-paths ["env/dev/clj" "env/dev/resources" "test/clj"]
                  :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)" "-r"]}

           :test {:extra-deps  {criterium/criterium         {:mvn/version "0.4.6"}
                                expound/expound             {:mvn/version "0.8.9"}
                                integrant/repl              {:mvn/version "0.3.2"}
                                pjstadig/humane-test-output {:mvn/version "0.11.0"}
                                ring/ring-devel             {:mvn/version "1.9.3"}
                                ring/ring-mock              {:mvn/version "0.4.0"}}
                  :extra-paths ["env/dev/clj" "env/dev/resources" "env/test/resources" "test/clj"]
                  :main-opts   ["-e" "(require 'pjstadig.humane-test-output) (pjstadig.humane-test-output/activate!)" "-r"]}}
 }
