{:paths ["build"]
 :deps {io.aviso/pretty {:mvn/version "1.4.4"}}
 :tasks {:requires ([clojure.string :as str]
                    [io.aviso.ansi :as ansi])
         :init (do
                 (def lib (first *command-line-args*))
                 (defn clj [& args]
                   (println (str
                              ansi/bold-font "+ clojure " (str/join " " args)
                              ansi/reset-font))
                   (apply clojure args))
                 (defn clj-in [dir & args]
                   (println (str
                              ansi/bold-font "+ (cd " dir ") clojure " (str/join " " args)
                              ansi/reset-font))
                   (apply clojure {:dir dir} args)))
         publish-local (clj "-T:build install-lib" :artifact-id lib)
         publish (clj "-T:build install-lib" :artifact-id lib :publish true)
         publish-all-local (clj "-T:build all" :publish false)
         antq (clj
                "-Sdeps '{:deps {com.github.liquidz/antq {:mvn/version \"RELEASE\"}}}'"
                "-M" "-m" "antq.core" "-d" "build")
         sync-deps ((requiring-resolve 'kit.sync-lib-deps/-main))
         ci {:doc "Run all CI tasks locally"
             :requires ([taoensso.timbre :as log])
             :task (do
                     (log/info "bb run test-libs")
                     (run 'test-libs)
                     (log/info "bb run publish-local deps-template")
                     (clj "-T:build install-lib" :artifact-id "deps-template")
                     (log/info "bb run publish-local lein-template")
                     (clj "-T:build install-lib" :artifact-id "lein-template")
                     (log/info "bb run test")
                     (run 'test))}
         test (clj "-M:test")
         test-watch {:doc "Re-runs the tests on file changes"
                     :task (clj "-M:test:test-watch")}
         test-libs {:doc "Runs the test suite of every lib that has one"
                    :requires ([babashka.fs :as fs])
                    :task (doseq [tests-edn (sort (fs/glob "libs" "*/tests.edn"))]
                            (clj-in (str (fs/parent tests-edn)) "-M:test"))}}}
