{:paths ["build"]
 :deps {io.aviso/pretty {:mvn/version "1.2"}}
 :tasks {:requires ([clojure.string :as str]
                    [io.aviso.ansi :as ansi])
         :init (do
                 (def lib (first *command-line-args*))
                 (defn clj [& args]
                   (println (str
                              ansi/bold-font "+ clojure " (str/join " " args)
                              ansi/reset-font))
                   (apply clojure args)))
         publish-local (clj "-T:build install-lib" :artifact-id lib)
         publish (clj "-T:build install-lib" :artifact-id lib :publish true)
         publish-all-local (clj "-T:build all" :publish false)
         antq (clj
                "-Sdeps '{:deps {com.github.liquidz/antq {:mvn/version \"RELEASE\"}}}'"
                "-M" "-m" "antq.core" "-d" "build")
         sync-deps ((requiring-resolve 'kit.sync-lib-deps/-main))}}
