{"kit-core"      "1.0.0"
 "kit-xtdb"      "1.0.0"
 "kit-generator" "0.1.0"
 "kit-hato"      "1.0.0"
 "kit-metrics"   "1.0.0"
 "kit-postgres"  "1.0.0"
 "kit-quartz"    "1.0.0"
 "kit-redis"     "1.0.1"
 "kit-repl"      "1.0.0"
 "kit-selmer"    "1.0.0"
 "kit-sql"       "1.0.0"
 "kit-undertow"  "1.0.0"
 "lein-template" "0.1.1"}
