{
 :system/env
 #profile {:dev  :dev
           :test :test
           :prod :prod}
<% if metrics? %>
 :metrics/prometheus
 {}<% endif %>
<% if repl? %>
 :repl/server
 {:port #long #or [#env REPL_PORT 7000]
  :host #or [#env REPL_HOST "0.0.0.0"]}<% endif %>
 <% if redis? %>
 :cache/redis
 {:ttl  3600
  :conn {:pool {}
         :spec {:uri #env REDIS_URI}}}<% endif %>

 :server/undertow
 {:port    #long #or [#env PORT 3000]
  :handler #ig/ref :handler/ring}

 :handler/ring
 {:router   #ig/ref :router/core <% if metrics? %>
  :metrics  #ig/ref :metrics/prometheus <% endif %>
  :api-path "/api"
  }

 :reitit.routes/api
 {:base-path "/api"
  :env       #ig/ref :system/env <% if metrics? %>

  :metrics   #ig/ref :metrics/prometheus <% endif %>
  }

 :router/routes
 {:routes #ig/refset :reitit/routes}

 :router/core
 {:routes #ig/ref :router/routes}
 <% if quartz? %>
 :cronut/scheduler
 {:schedule []}<% endif %>
 <% if selmer? %>
 :templating/selmer
 {}<% endif %>
 <% if crux? %>
 ;; https://opencrux.com/reference/configuration.html
 :db.crux/node
 {:crux.http-server/server {:port 4000}}
 <% endif %>
 <% if sql? %>
 ;; todo handle different kinds of sql sqlite, mysql, etc
 :db.sql/connection
 #profile {:dev  {:jdbc-url "jdbc:postgresql://localhost/<<sanitized>>?user=<<sanitized>>&password=<<sanitized>>"}
           :test {}
           :prod {:jdbc-url   #env JDBC_URL
                  :init-size  1
                  :min-idle   1
                  :max-idle   8
                  :max-active 32}

 :db.sql/query-fn
 {:conn     #ig/ref :db.sql/connection
  :options  {}
  :filename "queries.sql"}

 :db.sql/migrations
 {:store            :database
  :db               {:datasource #ig/ref :db/connection}
  :migrate-on-init? true}
 <% endif %>
}
