{:paths ["src"]
 :deps  {integrant/integrant               {:mvn/version "0.8.0"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.2.761"} ;; TODO: is this required here?
         hikari-cp/hikari-cp               {:mvn/version "2.13.0"}
         io.github.kit-clj/kit-core        {:mvn/version "1.0.1"}}}
