{:paths ["src"]
 :deps  {integrant/integrant {:mvn/version "1.0.1"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.3.1070"} ;; TODO: is this required here?
         hikari-cp/hikari-cp               {:mvn/version "3.3.0"}
         io.github.kit-clj/kit-core        {:mvn/version "1.0.9"}}}
