{:paths   ["src"]
 :deps    {integrant/integrant {:mvn/version "0.8.0"}
           selmer/selmer       {:mvn/version "1.12.40"}}

 :aliases {
           :jar     {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.245"}}
                     :exec-fn      hf.depstar/jar
                     :exec-args    {:jar         "target/wake-selmer.jar"
                                    :group-id    "com.github.wake"
                                    :artifact-id "wake-selmer"}}
           :install {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                     :exec-fn      deps-deploy.deps-deploy/deploy
                     :exec-args    {:installer :local
                                    :artifact  "target/wake-selmer.jar"}}
           :deploy  {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                     :exec-fn      deps-deploy.deps-deploy/deploy
                     :exec-args    {:installer :remote
                                    :artifact  "target/wake-selmer.jar"}}
           }
 }