{:paths   ["src"]
 :deps    {selmer/selmer                   {:mvn/version "1.13.1"}
           com.github.seancorfield/clj-new {:mvn/version "1.3.415"}
           io.github.kit-clj/deps-template {:mvn/version "0.1.87"}}}
