{:deps {babashka/fs {:mvn/version "0.5.27"}
        selmer/selmer {:mvn/version "1.12.67"}
        io.github.seancorfield/deps-new {:git/tag "v0.10.1" :git/sha "a90029c"}}
 :paths ["src" "resources"]}
