{:description "FIXME: my new kit project"
 :transform [["root" {"gitignore" ".gitignore"} ["<<" ">>"]]]
 :data-fn io.github.kit-clj.deps-template/data-fn
 :template-fn io.github.kit-clj.deps-template/template-fn}
