{"kit-core"         "1.0.8"
 "kit-http-kit"     "1.0.4"
 "kit-xtdb"         "1.0.4"
 "kit-generator"    "0.2.3"
 "kit-hato"         "1.0.4"
 "kit-nrepl"        "1.0.5"
 "kit-metrics"      "1.0.3"
 "kit-mysql"        "1.0.5"
 "kit-postgres"     "1.0.7"
 "kit-quartz"       "1.0.4"
 "kit-redis"        "1.0.6"
 "kit-repl"         "1.0.3"
 "kit-selmer"       "1.0.4"
 "kit-sql-migratus" "1.0.5"
 "kit-sql-conman"   "1.10.5"
 "kit-sql-hikari"   "1.0.6"
 "kit-sql"          "1.1.4"
 "kit-undertow"     "1.0.7"
 "lein-template"    "0.1.66"
 "deps-template"    "0.1.66"}
