{"kit-core"         "1.0.1"
 "kit-http-kit"     "1.0.1"
 "kit-xtdb"         "1.0.1"
 "kit-generator"    "0.1.5"
 "kit-hato"         "1.0.0"
 "kit-nrepl"        "1.0.0"
 "kit-metrics"      "1.0.2"
 "kit-mysql"        "1.0.1"
 "kit-postgres"     "1.0.1"
 "kit-quartz"       "1.0.1"
 "kit-redis"        "1.0.2"
 "kit-repl"         "1.0.1"
 "kit-selmer"       "1.0.1"
 "kit-sql"          "1.1.1"
 "kit-sql-migratus" "1.0.0"
 "kit-sql-conman"   "1.0.2"
 "kit-sql-hikari"   "1.0.1"
 "kit-undertow"     "1.0.2"
 "lein-template"    "0.1.25"}