{:paths ["src"]
 :deps  {org.clojure/tools.logging     {:mvn/version "1.2.4"}
         integrant/integrant           {:mvn/version "0.9.0"}
         luminus/ring-undertow-adapter {:mvn/version "1.4.0"}}}
