{:paths   ["src"]
 :deps    {integrant/integrant               {:mvn/version "0.8.0"}
           luminus-undertow/luminus-undertow {:mvn/version "0.1.11"}}

 :aliases {
           :jar     {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.245"}}
                     :exec-fn      hf.depstar/jar
                     :exec-args    {:jar         "target/wake-undertow.jar"
                                    :group-id    "com.github.wake"
                                    :artifact-id "wake-undertow"}}
           :install {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                     :exec-fn      deps-deploy.deps-deploy/deploy
                     :exec-args    {:installer :local
                                    :artifact  "target/wake-undertow.jar"}}
           :deploy  {:replace-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                     :exec-fn      deps-deploy.deps-deploy/deploy
                     :exec-args    {:installer :remote
                                    :artifact  "target/wake-undertow.jar"}}
           }
 }