{:paths   ["src"]
 :deps    {org.clojure/tools.logging              {:mvn/version "1.2.3"}
           clj-commons/iapetos                    {:mvn/version "0.1.12"}
           io.prometheus/simpleclient             {:mvn/version "0.14.1"}
           io.prometheus/simpleclient_common      {:mvn/version "0.14.1"}
           io.prometheus/simpleclient_hotspot     {:mvn/version "0.14.1"}
           io.prometheus/simpleclient_httpserver  {:mvn/version "0.14.1"}
           io.prometheus/simpleclient_pushgateway {:mvn/version "0.14.1"}}}
