{:paths   ["src"]
 :deps    {integrant/integrant       {:mvn/version "0.8.0"}
           conman/conman             {:mvn/version "0.9.1"}
           migratus/migratus         {:mvn/version "1.3.5"}
           kit-clj/kit-core        {:mvn/version "0.1.0"}}}
