name: CI
on: [push, pull_request]
jobs:
  bb-run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Install clojure tools
        uses: DeLaGuardo/setup-clojure@13.4
        with:
          cli: latest
          bb: latest
      - run: bb ci
